body{
  background-image: url(../images/image\ 1.jpg);
}
h1{
   text-align: center;
   font-style: oblique;
   /* background-color: slategray; */
   font-size: xx-large;
}
div{ 
   border: 2px black solid;
   width: 500px;
   border-radius: 30px;
   margin-left: 400px;
   padding: 10px;
}
label{
   font-size: larger;
   font-weight: bolder;
   margin: 5px;
   padding: 5px;
   margin-left: 60px;
}
input{
   border: 1px solid black;
   margin: 15px;
   margin-left: 120px;
   pad: 10px;
   width: 300px;
   height: 30px;
   border-radius: 30px;
   font-style: italic;
}
button{
   border: 2px black solid;
   margin-left: 200px;
   width: 100px;
   height: 30px;
   color: white;
   background-color:black;
   font-weight: bolder;
   font-size: larger;
   font-style: oblique;
   border-radius: 40px;
}
p{
   font-size: larger;
   font-style: inherit;
}
#signup{
   margin: 0;
   margin-top: 5px;
   width: 500px;
   height: 40px;
   background-color: white;
   color: black;
   padding: 5px;
   text-decoration: none;
}